bin/
build/
libs/
run/
FUTURELIST.md
.classpath
.project
*.launch

*.db
*.class
hs_err_pid*
.metadata
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.idea
.idea/
/eclipse
*.iml
*.ipr
*.iws